// <----- IMAGES PATH ----->
//
$cover_path: "../../media/IMG_Cover.png";
$game_path: "../../media/games/IMG_FALLOUT";
$shows_path: "../../media/IMG_FALLOUT-TV.png";
$support_path: "../../media/IMG_SIGN-UP.png";

// <----- COLORS ----->
//
$main_color: #000000;
$secondary_color: #ddb724;
$third_color: #ffffff;

// <----- FONTS ----->
//
$main_font: "Bebas Neue", sans-serif;
$secondary_font: "Nunito", sans-serif;
